.staggeringAnimation {
	grid-area: 2 / 12 / 13 / 13;
	display: flex;
	justify-content: center;
	align-content: center;
  }
  
  .staggering-content {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	cursor: pointer;
	justify-content: flex-end;
  }
  
  .grid-square {
	display: flex;
	flex-wrap: wrap;
  }
  
  .small {
	width: 20px;
	height: 20px;
  }
  
  .square {
	pointer-events: none;
	position: relative;
	width: 30px;
	height: 30px;
	margin: 1px;
	background-color: var(--clr-accent);
	font-size: 14px;
  }
  
  /* 100 - 85 - 65 - 45 - 25 */
  .squareOp-10 {
	opacity: 10%;
  }
  
  .squareOp-25 {
	opacity: 25%;
  }
  .squareOp-45 {
	opacity: 45%;
  }
  .squareOp-75 {
	opacity: 75%;
  }
  
  
  
  
  