.marquee {
	grid-area: 1 / 1 / 13 / 2;
	pointer-events: none;
}

.marquee p {
	font-size: 2rem;
	height: 100vh;
	width: auto;
	transform: rotate(-90deg);
	font-family: RR;
	font-weight: 400;
	font-style: normal;
}

@media (max-width: 725px) {
	.marquee {
		grid-area: 10 / 1 / 11 / 6;
		transform: rotate(90deg);
		display: none;
	}
}

