.site-section {
	height: 100vh;
}

section {
	transition: var(--transition);
	background-color: var(--clr-primary);
}

.section1 {
	background-color: var(--clr-primary);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	gap: 3rem;
}

.section1__text-wrapper {
	max-width: 42rem;
}

.section1__main-title {
	width: 10rem;
	word-spacing: -1rem;
}

@media screen and (min-width: 36em) {
	.section1__main-title{
		width: 100vw;
	}
}




.section2 {
	display: flex;
	position: relative;
}

@media (max-width: 725px) {
	.section2 {
		flex-direction: column;
	}
}

.section3 {
	background-color: var(--clr-primary);
	display: flex;
	align-items: center;
	justify-content: center;
}