.site-section {
	height: 100vh;
}

section {
	transition: var(--transition);
	background-color: var(--clr-primary);
}

.section1 {
	background-color: var(--clr-primary);
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1rem;
	gap: 3rem;
}

.section1__text-wrapper {
	max-width: 42rem;
}


.section1__main-title {
	width: 10rem;
}

@media screen and (min-width: 36em) {
	.section1__main-title {
		width: 100vw;
	}
}




.section2 {
	display: flex;
	position: relative;
}

@media (max-width: 725px) {
	.section2 {
		flex-direction: column;
	}

	.section1__main-title {
		width: 100%;
	}
}

.section3 {
	background-color: var(--clr-primary);
	display: grid;
	grid-template-columns: 65px repeat(10, 1fr) 65px;
	grid-template-rows: repeat(12, 1fr);
	gap: 2rem;
	padding: 2rem ;
	padding-top: 3rem;
	overflow: hidden;
	position: relative;
}

/* 
put new grid template in mediaquerie 
.parent {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	}
	
	.div1 { grid-area: 1 / 1 / 2 / 6; }
	.div2 { grid-area: 2 / 1 / 6 / 6; }
	.div3 { grid-area: 6 / 1 / 7 / 6; }
	.div4 { grid-area: 7 / 1 / 11 / 6; }
	.div5 { grid-area: 11 / 1 / 12 / 6; }
	.div6 { grid-area: 12 / 1 / 13 / 6; } */

.title-textAI {
	grid-area: 2 / 5 / 7 / 9;
	border-left: solid var(--clr-accent) 10px;
	padding: 0 1rem;
}

.title-textAI>h1 {
	font-size: 2.5rem;
}


.bigword {
	grid-area: 10 / 8 / 12 / 13;
	color: var(--clr-accent);
	font-family: COLA;
	font-size: 7vw;
	display: flex;
	height: 100%;
	align-items: end;
	justify-content: center;
}

.toggles {
	grid-area: 12 / 5 / 13 / 9;
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 1rem;
}

.toggles>div {
	display: grid;
	place-items: center;
}

.toggles>div>p {
	font-weight: bold;
	font-family: RR;
}