.site-section {
	height: 100vh;
}

section {
	transition: var(--transition);
	background-color: var(--clr-primary);
}

.section1 {
	background-color: var(--clr-primary);
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1rem;
	gap: 3rem;
}

.section1__text-wrapper {
	max-width: 42rem;
}


.section1__main-title {
	width: 10rem;
}

@media screen and (min-width: 36em) {
	.section1__main-title {
		width: 100vw;
	}
}




.section2 {
	display: flex;
	position: relative;
}

@media (max-width: 725px) {
	.section2 {
		flex-direction: column;
	}
	.section1__main-title {
		width: 100%;
	}
}

.section3 {
	background-color: var(--clr-primary);
	display: grid;
	grid-template-columns: 65px repeat(10, 1fr) 65px;
	grid-template-rows: repeat(12, 1fr);
	gap: 2rem;
	padding: 2rem;
	overflow: hidden;
	position: relative;
}

.title-toggles-textAI {
	grid-area: 2 / 5 / 7 / 9;
	border-left: solid var(--clr-accent) 10px;
}

.Circle {
	grid-area: 7 / 5 / 11 / 9;
	background-color: var(--clr-accent);
	width: 15vw;
	height: 15vw;
	margin: 0 auto;
	border-radius: 50%;
}

.bigword {
	grid-area: 10 / 8 / 12 / 13;
	color: var(--clr-accent);
	font-family: COLA;
	font-size: 7vw;
	display: flex;
	height: 100%;
	align-items: end;
	justify-content: center;
}

.toggles{
	grid-area: 12 / 5 / 13 / 9;
	display: flex;
	justify-content: space-around;
	align-items: center;
}