body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

:root {
  --clr-accent: black;
  --clr-primary: white;
  --ff-rubic: "Rubik Mono One", monospace;
  --ff-righteous: 'Righteous', sans-serif;
  --ff-montserrat: 'Montserrat', sans-serif;
  --transition: background-color 1s ease-in-out, color 1s ease-in-out;
  --mq-sm: 480px
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
figure,
p {
  margin: 0;
  color: var(--clr-accent);
  font-size: 1rem;
  transition: var(--transition);
}

h1 {
  font-size: 2.5rem;
  font-family: var(--ff-rubic);
}
p{
  font-family: var(--ff-montserrat);
}

/* Media queries for standard breakpoints */
@media screen and (min-width: 36em) {

  /* Small devices (phones) */
  p {
    font-size: 1.125rem;
    /* 18px */
  }

  h1 {
    font-size: 2.75rem;
    /* 36px */
  }
}

@media screen and (min-width: 48em) {


  h1 {
    font-size: 3rem;
    /* 40px */
  }
}

@media screen and (min-width: 62em) {

  /* Large devices (desktops) */

  h1 {
    font-size: 3.25rem;
    /* 44px */
  }
}

@media screen and (min-width: 75em) {
  h1 {
    font-size: 5rem;
    /* 48px */
  }
}



a {
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  list-style-type: none;
  padding-inline-start: 0px;
}


button {
  padding: .5rem 1rem;
  border-radius: 50rem;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: var(--clr-accent);
  border: solid 4px var(--clr-primary);
  color: var(--clr-primary);
  cursor: pointer;
}