body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

:root {
  --clr-accent: black;
  --clr-primary: white;
  --ff-rubic: "Rubik Mono One", monospace;

  --mq-sm: 480px
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
figure,
p {
  margin: 0;
  color: var(--clr-accent);
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-family: var(--ff-rubic);
}

/* Media queries for standard breakpoints */
@media screen and (min-width: 36em) {
  /* Small devices (phones) */
  p {
    font-size: 1.125rem; /* 18px */
  }

  h1 {
    font-size: 2.75rem; /* 36px */
  }
}

@media screen and (min-width: 48em) {
  /* Medium devices (tablets) */
  p {
    font-size: 1.25rem; /* 20px */
  }

  h1 {
    font-size: 3rem; /* 40px */
  }
}

@media screen and (min-width: 62em) {
  /* Large devices (desktops) */
  p {
    font-size: 1.375rem; /* 22px */
  }

  h1 {
    font-size: 3.25rem; /* 44px */
  }
}

@media screen and (min-width: 75em) {
  /* Extra-large devices (large desktops) */
  p {
    font-size: 1.5rem; /* 24px */
  }

  h1 {
    font-size: 3.5rem; /* 48px */
  }
}



a {
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  list-style-type: none;
  padding-inline-start: 0px;
}


button {
  padding: .5rem 1rem;
  border-radius: 50rem;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: var(--clr-primary);
  border: solid 4px var(--clr-accent);
  color: var(--clr-accent)
}